<html>
    <body>
        <form action="/storeData" method="post">

            Name <input type="text" name="name"/><br/>
            Age <input type="text" name="age"/><br/>
            <input type="submit"/>
            
        </form>
    </body>
</html>